<!DOCTYPE html>
<head>
    <% include ../../_head %>
    <link rel="stylesheet" type="text/css" href="/css/jeuxTemplate.css">
    <style id="styleJeu" type="text/css">
    </style>
</head>
<body onload="ui_jeu.loadGame('<%= gameMode %>','<%= forcedExerciceId %>')">
<% include ../../_loading %>
<div id="screen">
    <% include ../../topbar/_topbar.ejs %>
    <div class="row ml-2">
        <div class="right mt-4">
            <canvas id="canvas" width="600" height="600"></canvas>
        </div>
    </div>
</div>
<div id="message">
    Veuillez tourner l'appareil en mode paysage.<br/>
    Bitte schalten Sie das Gerät im Querformat ein.<br/>
    Please turn the device in landscape mode.<br/>
    Ruotare il dispositivo in modalità orizzontale.
</div>

<div style="position: fixed; bottom: 0; width: 100%;">
    <% include ../../studentMenu/_full_DAT.ejs %>
    <% include ../../studentMenu/_gameMenu.ejs %>
</div>
<% include ../../studentMenu/_padBox.ejs %>
<% include ../../modals/_TTSModal.ejs %>

<script type="text/javascript" src="/modules/pixi/wrk/tts_google.js"></script>
<script type="text/javascript" src="/modules/pixi/wrk/tts_mozilla.js"></script>
<script type="text/javascript" src="/modules/pixi/lib/pixi.min.js"></script>
<script type="text/javascript" src="/scripts/lib/require.js"></script>
<script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
<script type="text/javascript" src="/modules/pixi/wrk/gameloader.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_global.js"></script>
<script type="text/javascript" src="/modules/pixi/ui/ui_jeu.js"></script>
<script type="text/javascript">
    let currentLang = '<%= language %>';
</script>
</body>

</html>