<!-------- Game Menu including : game_mode, Harmos, language ----------->

<div id="toolbox-show" class="row m-0 justify-content-start flex-nowrap">
    <button class="btn btn-outline-warning m-2"
            onclick="ui_jeu.toggleGlobalMiniAppMenu()">
        <%= __('show_global_app_game') %> <i class="fas fa-caret-up"></i>
    </button>
    <div class="dropdown m-3" id="mode">
        <button class="btn btn-secondary btn-sm dropdown-toggle d-inline-block" type="button"
                id="dropdownMenuMode"
                data-toggle="dropdown">
            <%= __('jeuxTemplate_mode') %>:
            <% if (gameMode === 'explore'){ %>
                <span id="currentMode"><%= __('jeuxTemplate_explore') %></span>
            <% } %>
            <% if (gameMode === 'create'){ %>
                <span id="currentMode"><%= __('jeuxTemplate_create') %></span>
            <% } %>
            <% if (gameMode === 'evaluate'){ %>
                <span id="currentMode"><%= __('jeuxTemplate_evaluate') %></span>
            <% } %>
        </button>
        <div class="dropdown-menu m-3">
            <a class="dropdown-item" id="onclick_gamemode_explore"
               onclick="ui_jeu.updateMode('<%= __('jeuxTemplate_explore'); %>')"><%= __('jeuxTemplate_explore'); %></a>
            <a class="dropdown-item" id="onclick_gamemode_train"
               onclick="ui_jeu.updateMode('<%= __('jeuxTemplate_train'); %>')"><%= __('jeuxTemplate_train'); %></a>
            <a class="dropdown-item" id="onclick_gamemode_evaluate"
               onclick="ui_jeu.updateMode('<%= __('jeuxTemplate_evaluate'); %>')"><%= __('jeuxTemplate_evaluate'); %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="onclick_gamemode_create"
               onclick="ui_jeu.updateMode('<%= __('jeuxTemplate_create'); %>')"><%= __('jeuxTemplate_create'); %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="onclick_gamemode_play"
               onclick="ui_jeu.updateMode('<%= __('jeuxTemplate_play'); %>')"><%= __('jeuxTemplate_play'); %></a>
        </div>
    </div>

</div>