<!------- Gestionnaire de la synthèse vocale --------->

<div id="playTTS">
    <span class="tts-menu" onclick="tts_mozilla.speak();">🎧</span>
    <span class="tts-menu" data-toggle="modal" data-target="#settingsTTS">⚙️</span>
</div>
<div id="stopTTS" class="hidden">
    <span id="pauseTTS" class="tts-menu" onclick="tts_mozilla.pause();">⏸️</span>
    <span id="resumeTTS" class="tts-menu hidden" onclick="tts_mozilla.resume();">▶️</span>
    <span class="tts-menu" onclick="tts_mozilla.stop();">⏹️</span>
</div>