<!------- Conteneur et gestionnaire des pads --------->
<!--- pad individuel, pad collectif et dico images --->

<div class="fullscreen-app" style="display: none" id="my-pad">
    <div class="app-header">
        <h3 class="row justify-content-around"><%= __('student_pad') %>
        <span onclick="ui_jeu.toggleGlobalMiniApp('my-pad')">✖️</span></h3>
    </div>
    <div class="app-content">
        <iframe name="embed_readwrite" id="my-pad-etherpad"
                src="<%= process.env.ETHERPAD_URL %>/p/<%= eleve.padId %>?showControls=false&showChat=false&showLineNumbers=false&useMonospaceFont=false"
                frameborder="0"></iframe>
    </div>
</div>
<div class="fullscreen-app" style="display: none" id="class-pad">
    <div class="app-header">
        <h3 class="row justify-content-around"><%= __('class_pad') %>
        <span onclick="ui_jeu.toggleGlobalMiniApp('class-pad')">✖️</span></h3>
    </div>
    <div class="app-content">
        <iframe name="embed_readwrite" id="class-pad-etherpad"
                src="<%= process.env.ETHERPAD_URL %>/p/<%= eleve.classPadId %>?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false"
                frameborder="0"></iframe>
    </div>
</div>
<div class="fullscreen-app" style="display: none" id="dico-img">
    <div class="app-header">
        <h3 class="row justify-content-around"><%= __('dico_images') %>
        <span onclick="ui_jeu.toggleGlobalMiniApp('dico-img')">✖️</span></h3>
    </div>
    <div class="app-content">
        <div id="dico-content"></div>
    </div>
</div>