<!-------- Section de texte, à alimenter depuis les différents jeux ----------->
<div class="d-block mt-5 ml-5 pl-5 col-9">
    <% include _menuTTS.ejs %>
    <div id="gameControls" class="mt-2">
    </div>
    <div id="tutorial">
    </div>
    <div class="ml-2">
        <div id="languageCode" class="d-none">fr</div>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

