<!-- Fenêtre modale pour le partage des classes -->
<div class="modal fade" id="modal_share" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= __('classes_share') %></h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= __('classes_modal_text') %></p>
        <p id="modal_share_link"></p>
        <p><%= __('classes_modal_warning') %></p>
        <p><%= __('classes_modal_share_text') %></p>
        <div id="modal_share_fast">
          <input type="email" class="form-control" name="email" id="email"
                 placeholder="<%= __('classes_modal_email_placeholder') %>">
          <textarea name="text" rows="4" cols="6" id="text" class="form-control mt-2"></textarea>
          <input type="button" id="sendbtn" value="<%= __('classes_modal_email_send') %>"
                 class="btn btn-outline-success mt-2" onclick="ui_classes.sendEmail()">
          <div class="progress" id="progressbar">
            <div class="progress-bar progress-bar-striped progress-bar-animated"
                 role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal"><%= __('global_back') %></button>
      </div>
    </div>
  </div>
</div>