<!-- Settings Modal for TTS -->
<div class="modal fade mt-5 pt-5" id="settingsTTS">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= __('ttsOptions') %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="" class="m-5">
                    <div class="card m-2 p-3 d-flex flex-row justify-content-around col-12">
                        <strong for="rate">Tempo</strong>
                        <input type="range"
                               min="0.5" max="1.2" value="<%= util.DEFAULT_TTS_SPEED %>" step="0.1" id="rate"/>
                        <strong class="rate-value"><%= util.DEFAULT_TTS_SPEED %></strong>
                        <div class="clearfix"></div>
                    </div>
                    <div class="card m-2 p-3 d-flex flex-row justify-content-around col-12">
                        <strong for="pitch">Pitch</strong>
                        <input type="range"
                               min="0" max="1.2" value="<%= util.DEFAULT_TTS_PITCH %>" step="0.1" id="pitch"/>
                        <strong class="pitch-value"><%= util.DEFAULT_TTS_PITCH %></strong>
                        <div class="clearfix"></div>
                    </div>
                    <select class="card m-2 p-3 col-12"></select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        onclick="tts_mozilla.resetMenu()"><%= __('reset') %></button>
            </div>
        </div>
    </div>
</div>