<!-- Modal pour afficher activité débranchée avec un bouton de validation -->
<!-- Attention : utilisable uniquement depuis runParcours.ejs -->
<div class="modal fade" id="unplugged<%= stepsNotDone[i].id %>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="col-2" src="<%= activityForm.gameImage %>">
                <h5 class="modal-title"><%= listeExos[globalCounter].level %></h5>
                <a class="closeButton" href="#" data-dismiss="modal">Ⓧ</a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Nom de l'activité</label>
                        <input type="text" class="col-8 form-control" role="name"
                               readonly="readonly" value="<%= activityForm.name; %>"></div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label"><%= activityForm.inputLabel %></label>
                        <% if (stepsNotDone[i].gameId == util.UNPLUGGED_ACTIVITY_ID ){ %>
                            <textarea type="text" class="col-8 form-control" role="consigne"
                                      readonly="readonly"><%= activityForm.consigne %></textarea>
                        <% }
                        else if ( stepsNotDone[i].gameId == util.EXTERNAL_LINK_ID) { %>
                            <a class="col-8 alert alert-success" href="<%= activityForm.consigne %>"
                               role="consigne" target="_blank"><h2 class="mr-3 d-inline-block">
                                    ☞</h2><%= __('clickHereExternalLink') %></a>
                        <% } %>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Description</label>
                        <textarea type="text" class="col-8 form-control" role="description"
                                  readonly="readonly"><%= activityForm.description %></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button id="btn-<%= stepsNotDone[i].id %>" type="button" class="btn btn-primary"
                    data-dismiss="modal">Validée avec l'enseignant
            </button>
        </div>
    </div>
</div>