<!-- Modal pour afficher activité débranchée depuis la vue enseignant -->
<!-- Attention : utilisable uniquement depuis sommaireParcours.ejs -->
<div class="modal fade" id="unplugged<%= listeExos[globalCounter].id %>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="col-2" src="<%= activityForm.gameImage %>">
                <h5 class="modal-title"><%= listeExos[globalCounter].level %></h5>
                <a class="closeButton" href="#" data-dismiss="modal">Ⓧ</a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Nom de l'activité</label>
                        <input type="text" class="col-8 form-control" role="name" readonly="readonly"
                               value="<%= activityForm.name; %>">
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label"><%= activityForm.inputLabel %></label>
                        <textarea type="text" class="col-8 form-control" role="consigne"
                                  readonly="readonly"><%= activityForm.consigne %></textarea>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Description</label>
                        <textarea type="text" class="col-8 form-control" role="description"
                                  readonly="readonly"><%= activityForm.description %></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>