<!-- Header / Navigation bar -->
<nav class="row navbar justify-content-between align-items-center"
     style="z-index: 101;"
>

    <!-- Language selector -->
    <div class="col-3">
        <% include _lang %>
    </div>

    <!-- Back button -->
    <input type="button" value="<%= __('global_back') %>" class="mr-3 btn btn-danger"
           onclick="window.history.back();">
</nav>