<meta name="theme-color" content="#ffffff">
<!--  Manifest PWA  -->
<link rel="manifest" href="/manifest/manifest.webmanifest">
<!-- IOS PWA  -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" sizes=" 16x16" href="/media/pwa/icons/16.png">
<link rel="apple-touch-icon" sizes=" 20x20" href="/media/pwa/icons/20.png">
<link rel="apple-touch-icon" sizes=" 29x29" href="/media/pwa/icons/29.png">
<link rel="apple-touch-icon" sizes=" 32x32" href="/media/pwa/icons/32.png">
<link rel="apple-touch-icon" sizes=" 40x40" href="/media/pwa/icons/40.png">
<link rel="apple-touch-icon" sizes=" 48x48" href="/media/pwa/icons/48.png">
<link rel="apple-touch-icon" sizes=" 50x50" href="/media/pwa/icons/50.png">
<link rel="apple-touch-icon" sizes=" 58x58" href="/media/pwa/icons/58.png">
<link rel="apple-touch-icon" sizes=" 55x55" href="/media/pwa/icons/55.png">
<link rel="apple-touch-icon" sizes=" 60x60" href="/media/pwa/icons/60.png">
<link rel="apple-touch-icon" sizes=" 57x57" href="/media/pwa/icons/57.png">
<link rel="apple-touch-icon" sizes=" 64x64" href="/media/pwa/icons/64.png">
<link rel="apple-touch-icon" sizes=" 80x80" href="/media/pwa/icons/80.png">
<link rel="apple-touch-icon" sizes=" 72x72" href="/media/pwa/icons/72.png">
<link rel="apple-touch-icon" sizes=" 76x76" href="/media/pwa/icons/76.png">
<link rel="apple-touch-icon" sizes=" 87x87" href="/media/pwa/icons/87.png">
<link rel="apple-touch-icon" sizes=" 88x88" href="/media/pwa/icons/88.png">
<link rel="apple-touch-icon" sizes=" 100x100" href="/media/pwa/icons/100.png">
<link rel="apple-touch-icon" sizes=" 114x114" href="/media/pwa/icons/114.png">
<link rel="apple-touch-icon" sizes=" 120x120" href="/media/pwa/icons/120.png">
<link rel="apple-touch-icon" sizes=" 128x128" href="/media/pwa/icons/128.png">
<link rel="apple-touch-icon" sizes=" 144x144" href="/media/pwa/icons/144.png">
<link rel="apple-touch-icon" sizes=" 152x152" href="/media/pwa/icons/152.png">
<link rel="apple-touch-icon" sizes=" 167x167" href="/media/pwa/icons/167.png">
<link rel="apple-touch-icon" sizes=" 180x180" href="/media/pwa/icons/180.png">
<link rel="apple-touch-icon" sizes=" 172x172" href="/media/pwa/icons/172.png">
<link rel="apple-touch-icon" sizes=" 196x196" href="/media/pwa/icons/196.png">
<link rel="apple-touch-icon" sizes=" 216x216" href="/media/pwa/icons/216.png">
<link rel="apple-touch-icon" sizes=" 256x256" href="/media/pwa/icons/256.png">
<link rel="apple-touch-icon" sizes=" 512x512" href="/media/pwa/icons/512.png">
<link rel="apple-touch-icon" sizes=" 1024x1024" href="/media/pwa/icons/1024.png">
<link href="/media/pwa/start/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="/media/pwa/start/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />