<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <% include _head %>
    <link rel="stylesheet" href="/css/about.css">
  </head>
  <body>
    <nav class="navbar">
      <% include _lang %>
    </nav>
    <div class="align-center">
      <h1><%= __('about_title') %></h1>
      <% if(typeof(rest) === 'undefined') { %>
        <p><%= __('about_version_rest') %><%= __('about_offline') %></p>
      <% } else { %>
        <p><%= __('about_version_rest') %><%= rest %></p>
      <% } %>
      <% if(typeof(node) === 'undefined') { %>
        <p><%= __('about_version_node') %><%= __('about_offline') %></p>
      <% } else { %>
        <p><%= __('about_version_node') %><%= node %></p>
      <% } %>
      <p><%= __('about_version_framework') %><%= framework %></p>
      <p><%= __('about_contact') %><%- __('about_contact_link') %></p>
      <p><a href="/classes" class="btn btn-outline-primary"><%= __('global_back') %></a></p>
    </div>
  </body>
</html>
