<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include _head %>
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <link rel="stylesheet" type="text/css" href="/css/parcours.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
</head>
<body onload="ui_adaptiveLearning.initParcours('<%= parcours.id %>','<%= util.AL_PARCOURS_IDS %>')">
<%
const currentPage = util.RUN_PARCOURS_EJS;
%>
<section class="container">
    <% include topbar/_topbarParcours.ejs %>
    <div class="justify-content-center row">
        <button class="btn btn-outline-warning m-2 disabled"><%= __('studentView') %> 🎓</button>
        <button class="btn btn-outline-warning m-2"
                onclick="ui_global.teacherAccessAlert('<%= teacherEmail %>','/sommaireParcours/<%= eleve.id %>/<%= parcours.id %>')"><%= __('teacherView') %>
            🏫
        </button>
    </div>
    <div class="jumbotron">
        <section id="stepsContainer" class="m-5"></section>
        <div class="col-12" role="tablist">
            <!--  ************************ Affichage des étapes restantes ************************  -->
            <% if (stepsNotDone.length > 0) { %>
                <% for(var i = 0; i < 1; i++) { %>
                    <!--  Création des modals si c'est une activité débranchée ou externe -->
                    <% try{
                    if (stepsNotDone[i].gameId == util.UNPLUGGED_ACTIVITY_ID || stepsNotDone[i].gameId == util.EXTERNAL_LINK_ID){
                        const activityForm = JSON.parse(listeExos[globalCounter].exercice);
                    %>
                    <% include modals/_unpluggedModalWithValidation.ejs %>
                    <a class="d-flex justify-content-between classe list-group-item list-group-item-action"
                       data-toggle="modal"
                       data-target="#unplugged<%= stepsNotDone[i].id %>"
                       onclick="ui_parcours.createStatsEntry(2,<%= stepsNotDone[i].gameId %>,<%= stepsNotDone[i].id %>)"
                       role="tab"><%= __('step') %>
                        : <%= stepsNotDone[i].number %><strong><%= stepsNotDone[i].fullName %></strong>
                        <h2>▶️</h2></a>
                    <% } else if (stepsNotDone[i].niveau === 'Explor') {
                        loadManualStep('explore');
                    } else if (stepsNotDone[i].niveau === 'Créer') {
                        loadManualStep('create');
                    } else if (util.EXTERNAL_GAME_IDS.includes(stepsNotDone[i].gameId)) {
                        loadStep(util.TEMPLATE_EXTERNAL_PARCOURS);
                    } else if (util.PHASER_GAME_IDS.includes(stepsNotDone[i].gameId)) {
                        loadStep(util.TEMPLATE_PHASER_PARCOURS);
                    } else {
                        loadStep(util.TEMPLATE_PIXI_PARCOURS);
                    } }catch (e) {
                        console.log(e);
                    } %>
                <% } %>
            <% } else { if (!util.AL_PARCOURS_IDS.includes(parcours.id)){ %>
                <div class="text-white mt-5 text-center"><%= __('parcoursFinished') %></div>
            <% } } %>
            <!--  ************************ Affichage des étapes déjà réalisées ************************  -->
            <% for( globalCounter = stepsDone.length - 1; globalCounter >= 0; globalCounter--) {
                console.log(globalCounter);
            %>
            <a class="classe list-group-item list-group-item-action col-12 d-flex justify-content-between"
               style="background-color: lightgrey">
                <span class=""><%= __('step') %> : <%= stepsDone[globalCounter].number %></span>
                <span class=""><%= stepsDone[globalCounter].fullName %></span>
                <span class="float-right"><%= stepsDone[globalCounter].niveau %></span>
                <% if (stepHistory[globalCounter].evaluation === 2){ %>
                    <span class="float-right">✓</span>
                <% } else { %>
                    <span class="float-right">☓</span>
                <% } %>
            </a>
            <% } %>
        </div>
    </div>
</section>

<!--  ################### Fonctions ###########################  -->

<!-- Pour charger une activité d'exploration / création à validation manuelle -->
<% function loadManualStep(mode) { %>
    <a class="d-flex justify-content-between classe list-group-item list-group-item-action"
       data-bs-toggle="list"
       href="/<%= util.RUN_STEP_KEYWORD %>/pixiParcours/0/<%= stepsNotDone[i].gameId %>/<%= mode %>"
       role="tab"><%= __('step') %>
        : <%= stepsNotDone[i].number %>
        <strong><%= stepsNotDone[i].fullName %></strong><span><%= stepsNotDone[i].niveau %></span>
        <h2>▶️</h2>
    </a>
<% } %>

<!-- Pour charger une étape / niveau de jeu du parcours quel que soit le template -->
<% function loadStep(template) { %>
    <a class="d-flex justify-content-between classe list-group-item list-group-item-action"
       data-bs-toggle="list"
       href="/<%= util.RUN_STEP_KEYWORD %>/<%= template %>/<%= stepsNotDone[i].id %>/<%= stepsNotDone[i].gameId %>/evaluate"
       role="tab"><%= __('step') %>
        : <%= stepsNotDone[i].number %>
        <strong><%= stepsNotDone[i].fullName %></strong><span><%= stepsNotDone[i].niveau %></span>
        <h2>▶️</h2>
    </a>
<% } %>

<script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_createclasse.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_classes.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_parcours.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_adaptiveLearning.js"></script>
</body>
</html>
