<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include _head %>
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <link rel="stylesheet" type="text/css" href="/css/parcours.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
</head>

<body onload="loadProgressBar('<%= JSON.stringify(stepsDone) %>','<%= JSON.stringify(stepsNotDone) %>','<%= JSON.stringify(stepHistory) %>')">
<% const currentPage = util.SOMMAIRE_PARCOURS_EJS; %>

<section class="container">
    <% include _loading.ejs %>
    <% include topbar/_topbarParcours.ejs %>
    <div class="jumbotron">
        <% loadHeader() %>
        <% loadParcours() %>
        <% loadFooter() %>
    </div>
</section>


<!--   #######################################################  -->
<!--   ##################### Fonctions #######################  -->
<!--   #######################################################  -->

<% function loadHeader() { %>
    <h1 class="text-center mb-5 text-warning"><%= __('teacherView') %> 🏫</h1>
    <h2 class="display-5 ml-3"><%= __('student') %> :
        <span class="text-warning"><%= eleve.nom %></span>
    </h2>
    <div>
        <h2 class="display-5 col-md-9 col-lg-9"><%= __('parcoursSummary') %> :
            <span class="text-warning"><%= parcours.nom %></span>
        </h2>
        <a href="/<%= util.RUN_PARCOURS_EJS %>/<%= eleve.id %>/<%= parcours.id %>"
           class="btn btn-warning m-3"><%= __('startParcours') %> ▶</a>
        <!--    S'il y a déjà un historique, on affiche le bouton Reset    -->
        <% if (Object.keys(stepHistory).length) { %>
            <button class="btn btn-warning"
                    onclick="ui_parcours.resetParcoursForStudent(<%= eleve.id %>,<%= parcours.id %>)">Ré-initialiser
                parcours <span class="">⟳</span></button>
        <% } %>
    </div>
<% } %>

<% function loadParcours() { %>
    <div class="col-12" role="tablist">
        <%
            var stepsDoneCounter = 0;
        if((listeExos) !== undefined) {
            var prefixId = 'id-';
        %>
        <% for(var globalCounter = 0; globalCounter < parcoursSteps.length; globalCounter++) {
            var imageExo = listeExos[globalCounter].image;
            var stepLineWidth = 'col-12';
            var stepTypeLabel = 'Obligatoire';
            var stepTypeLabelColor = util.DARK_RED;
            if (parcoursSteps[globalCounter].type === 'remediation') {
                stepLineWidth = 'col-11 ml-auto';
                stepTypeLabel = 'Remédiation';
                stepTypeLabelColor = util.LIGHT_BLUE;
            }
            if (listeExos[globalCounter].stateId === 3) {
                prefixId = 'unplugged';
                const activityForm = JSON.parse(listeExos[globalCounter].exercice);
                imageExo = activityForm.gameImage;
            }
        if(stepsDoneCounter < (stepHistory.length)) { %>
            <% if(stepsDoneId.includes(parseInt(parcoursSteps[globalCounter].id))){ %>
            <% try {
                if (stepHistory[stepsDoneCounter].evaluation === 2) {
                    loadStep(globalCounter, prefixId, util.LIGHT_GREEN, '', imageExo, 'col-1', stepLineWidth, stepTypeLabel, stepTypeLabelColor);
                } else if (stepHistory[stepsDoneCounter].evaluation === 0 || stepHistory[globalCounter].evaluation === 1) {
                    loadStep(globalCounter, prefixId, util.LIGHT_PINK, 'mr-5', imageExo, 'col-1 float-right', stepLineWidth, stepTypeLabel, stepTypeLabelColor);
                }
            } catch (e) {
                console.log(e);
            }
            }
            else {
                loadStep(globalCounter, prefixId, '', '', imageExo, 'col-1', stepLineWidth, stepTypeLabel, stepTypeLabelColor);
            } %>
        <% }  else {
            loadStep(globalCounter, prefixId, '', '', imageExo, 'col-1', stepLineWidth, stepTypeLabel, stepTypeLabelColor);
        } %>
        <!--  Création des modals si c'est une activité débranchée ou externe -->
        <% if (listeExos[globalCounter].stateId === 3) {
            const activityForm = JSON.parse(listeExos[globalCounter].exercice); %>
        <% include modals/_unpluggedModalSummaryView.ejs %>
        <% } else { %>
            <% include modals/_stepModalSummaryView.ejs %>
        <% } %>
        <%
            if (stepsDoneId.includes(parseInt(parcoursSteps[globalCounter].id))) {
                stepsDoneCounter++;
            }
        } %>
    </div>
<% } } %>

<% function loadStep(globalCounter, prefixId, stepBgColor, marginRight, imageExo, imgClass, stepLineWidth, stepTypeLabel, stepTypeLabelColor) { %>
    <div class="classe list-group-item list-group-item-action d-flex justify-content-between <%= stepLineWidth %>"
         data-bs-toggle="list" href="#" role="tab" style="background-color: <%= stepBgColor %>"><%= __('step') %>
        : <%= parcoursSteps[globalCounter].number %>
        <span class="" style="color: <%= stepTypeLabelColor %>"><%= stepTypeLabel %></span>
        <strong class=""><%= parcoursSteps[globalCounter].fullName %></strong>
        <span class="<%= marginRight %>"><%= parcoursSteps[globalCounter].niveau %></span>
        <img class="<%= imgClass %>" src="<%= imageExo %>">
        <a href="#" aria-label="<%= imageExo %>" data-toggle="modal"
           data-target="#<%= prefixId %><%= listeExos[globalCounter].id %>">🔍</a>
        <a href="#" onclick="">🗑️</a>
    </div>
<% } %>

<% function loadFooter() { %>
    <div class="text-white mt-5 text-center"><%= __('parcoursSummaryLegend') %></div>
    <div><span style="background-color: <%= util.LIGHT_GREEN %>">▢</span> <%= __('successfulLevel') %></div>
    <div><span style="background-color: <%= util.LIGHT_PINK %>">▢</span> <%= __('failedLevel') %></div>
    <div><span style="background-color: <%= util.WHITE_SMOKE %>">▢</span> <%= __('unachievedLevel') %></div>
<% } %>

</body>
<script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_createclasse.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_classes.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_parcours.js"></script>
</html>