<html>
<head>
    <% include _head %>
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
</head>
<body>
<div class="row m-3 text-center p-2 shadow-lg rounded">
    <a href="#" class="btn button-outline ml-auto"
       onclick="window.location='/'"><%= __('global_back') %>
    </a></div>

<div class="container jumbotron ml-auto mr-auto h-75">
        <h1 class="text-center mt-3"><%= __('studentAccess') %> 🎓</h1>
        <h3 class="mt-5 text-center"><%= __('insertCode') %></h3>
        <form class="row justify-content-center">
            <input id="studentCode" type="text" class="form-control-lg m-4" placeholder="Exemple : 123-12345">
            <a class="btn button btn-lg m-4" onclick="ui_classes.connectStudent()"><%= __('validate') %></a>
        </form>
</div>
    <script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_global.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_classes.js"></script>
</body>
</html>