body{
    overflow: hidden;
}

#game{
    display: block;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

div[aria-description="DAT-div"] {
    position: fixed;
    bottom: 0;
}

#mode{
    position: absolute;
    bottom: 55px;
    left: 15px;
}