<!DOCTYPE html>
<head>
    <% include ../../_head %>
    <link rel="stylesheet" type="text/css" href="/css/jeuxTemplate.css">
    <style id="styleJeu" type="text/css">
    </style>
</head>
<body onload="ui_jeu.loadGamePhaser('<%= gameMode %>','<%= forcedExerciceId %>')">
<% include ../../_loading %>
<div id="screen">
    <% include ../../topbar/_topbar.ejs %>
    <div class="mx-2 my-2">
        <div id="phaser-game"></div>
        <canvas id="canvas" width="0" height="0" style="margin: 0 auto; display: block;"></canvas>
    </div>

</div>
</div>

<div style="position: fixed; bottom: 0; width: 100%;">
    <% include ../../studentMenu/_full_DAT.ejs %>
    <% include ../../studentMenu/_gameMenu.ejs %>
</div>
<% include ../../studentMenu/_padBox.ejs %>
<% include ../../modals/_TTSModal.ejs %>
<script type="text/javascript">
    let currentLang = '<%= language %>';
</script>
</body>

</html>

<script type="text/javascript" src="/scripts/lib/xlsx.mini.min.js"></script>
<script type="text/javascript" src="/modules/pixi/wrk/tts_google.js"></script>
<script type="text/javascript" src="/modules/pixi/wrk/tts_mozilla.js"></script>
<script type="text/javascript" src="/modules/pixi/lib/phaser.min.js"></script>
<script type="text/javascript" src="/scripts/lib/require.js"></script>
<script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
<script type="text/javascript" src="/modules/pixi/wrk/gameloaderPhaser.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_global.js"></script>
<script type="text/javascript" src="/modules/pixi/ui/ui_jeu.js"></script>

