<div id="miniTopBar" class="p-1 shadow-lg rounded text-center hidden">
        <span>
            <% try { %>
                <label><%= eleve.classe %> (<%= eleve.degre %>) : </label>
                <label><%= eleve.nom %></label>
            <% } catch (error) { %>
                <p></p>
            <% } %>
        </span>
    <button class="btn button-outline offset-1" onclick="ui_global.showTopBar()">▽</button>
</div>