<%
var backTarget;
updateBackTarget();
%>
<div id="topBar" class="row m-1 p-1 shadow-lg rounded justify-content-between">
    <div class="col-3 text-left">
        <div class="mt-2">
            <span class=""><%= eleve.nom %></span>
            -
            <span class=""><%= eleve.classe %> (<%= eleve.degre %>)</span>
        </div>
    </div>
    <div class="col-5 text-center">
        <div class="mt-2">
            <label class="parcoursNameHeader">Parcours : <%= parcours.nom %></label>
        </div>
        <div class="mt-2">

        </div>
    </div>
    <!--    Bouton retour   -->
    <div class="col-3 text-right">
        <button class="text-center btn button-outline" onclick="ui_global.showMiniTopBar()">△</button>
        <% if (backTarget === `/${util.HOME_EJS}`) { %>
            <a href="#" class="btn button-outline ml-auto"
               onclick="ui_global.teacherAccessAlert('<%= teacherEmail %>','<%= backTarget %>')">
                <%= __('global_back') %></a>
        <% } else {
        if (currentPage === util.PARCOURS_TEMPLATE_PIXI_EJS || currentPage === util.PARCOURS_TEMPLATE_EXT_EJS || currentPage === util.PARCOURS_TEMPLATE_PHASER_EJS) {
        %>
            <a id="parcours"
               href="#" class="btn button-outline ml-auto"
               onclick="ui_parcours.handleReturnFromParcours(event,'<%= backTarget %>')">
                <%= __('global_back') %>
            </a>
        <% } else { %>
            <a id="parcours"
               href="#" class="btn button-outline ml-auto"
               onclick="window.location='<%= backTarget %>'">
                <%= __('global_back') %>
            </a>
        <% }} %>
    </div>
</div>
<% include _miniTopBar.ejs %>
<!--Code en lien avec la progress bar-->
<!--<div class="progress m-3">-->
<!--    <div id="progressBar" style="width:0%" class="progress-bar progress-bar-success" role="progressbar"-->
<!--         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%-->
<!--    </div>-->
<!--</div>-->
<%
function updateBackTarget() {
    switch (currentPage) {
        case util.STUDENT_ALL_PARCOURS_EJS:
            backTarget = `/${util.HOME_EJS}`;
            break;
        case util.RUN_PARCOURS_EJS:
        case util.SOMMAIRE_PARCOURS_EJS:
            backTarget = `/${util.STUDENT_ALL_PARCOURS_EJS}/${eleve.id}`;
            break;
        case util.PARCOURS_TEMPLATE_EXT_EJS:
        case util.PARCOURS_TEMPLATE_PIXI_EJS:
        case util.PARCOURS_TEMPLATE_PHASER_EJS:
            backTarget = `/${util.RUN_PARCOURS_EJS}/${eleve.id}/${parcours.id}`;
            break;
        default:
            break;
    }
}
%>
<!--Code en lien avec la progress bar-->
<script>
    const SUCCESS_COLOR = 'green';
    const MISTAKES_COLOR = 'orange';
    const START_VALUE = '0';
    const END_VALUE = '100';
    const STEPS_REMAINING = 'type":"next';
    const WRONG_RESULT = 'evaluation":0';

    function setProgress(progressBar, progression, barColor) {
        progressBar.style.width = progression + "%";
        progressBar.style.backgroundColor = barColor;
        progressBar.removeAttribute("aria-valuenow");
        progressBar.setAttribute("aria-valuenow", progression);
        progressBar.textContent = progression + '%';
    }

    function loadProgressBar(stepsDone, stepsNotDone, stepHistory) {
        let progressBar = document.getElementById("progressBar");
        let progression;
        let barColor = SUCCESS_COLOR;
        if (typeof stepsDone === 'undefined' || stepsNotDone === 'undefined') {
            progression = sessionStorage.getItem('progression');
            barColor = sessionStorage.getItem('barColor');
            setProgress(progressBar, progression, barColor);
            return;
        }
        try {
            if (stepHistory === null)
                progression = START_VALUE;
            else if (!stepsNotDone.includes(STEPS_REMAINING))
                progression = END_VALUE;
            else
                progression = Math.round((JSON.parse(stepsDone).length / (JSON.parse(stepsDone).length + JSON.parse(stepsNotDone).length)) * 100);
            if (stepHistory.includes(WRONG_RESULT))
                barColor = MISTAKES_COLOR;
            sessionStorage.setItem('progression', '' + progression);
            sessionStorage.setItem('barColor', barColor);
            setProgress(progressBar, progression, barColor);
        } catch (e) {
            console.log(e);
        }
    };

</script>